@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --color1: rgb(179, 119, 159);
    --color2: rgba(255, 255, 255, 0.404);
    --color3: rgb(192, 127, 170);
    --color4: rgb(0, 0, 0);
    --color5: rgb(255, 255, 255);
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    box-sizing: border-box;
    color: var(--color4);
    overflow-y: auto;
}

header,
footer {
    background-color: var(--color3);
    height: 5vh;
}

header {
    position: sticky;
    top: 0;
}

main {
    background-color: var(--color1);
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-style: italic;
    letter-spacing: -0.1em;
    font-size: 3vh;
    text-shadow: rgb(0, 0, 0) 1px 10px 10px;
    color: var(--color5);
    margin-left: 8px;;
    margin-top: 0px;
}

h2 {
    margin: 0;
}

table {
    margin: 24px;
    width: 80%;
    color: var(--color4);
    background-color: var(--color2);
    border-radius: 8px;
    padding: 8px;
    box-shadow: 5px 5px black;
}

.center {
    text-align: center;
}

.container {
    margin: 36px;
    width: 80%;
    color: var(--color4);
    background-color: var(--color2);
    border-radius: 8px;
    text-align: center;
    box-shadow: 5px 5px black;
}

.bottom-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color2);
    color: var(--color4);
    border-radius: 8px;
    margin: 24px;
    padding: 12px;
    width: 80%;
    box-shadow: 5px 5px black;
}

button {
    padding: 12px;
    margin: 4px;
    border-radius: 25px;
    border: none;
    background-color: var(--color1);
    font-size: 1.5rem;
    color: var(--color4);
}

input {
    width: 25%;
    padding:12px;
    margin: 8px;
    border-radius: 25px;
    font-size: 1.5rem;
}

#eps-watched, #eps-total {
    width: 10%;
}

#title {
    width: 80%;
}

#table-title {
    width: 70%;
}

#table-eps, #table-maxeps {
    width: 15%;
}

form { 
    font-size: 1.2rem;
}

.resetBtn {
    background-color: red;
}