@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    box-sizing: border-box;
    color: white;
}

header,
footer {
    background-color: rgb(48, 103, 110);
    height: 5vh;
}

main {
    background-color: rgb(197, 204, 223);
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-style: italic;
    letter-spacing: -0.1em;
    font-size: 3vh;
    text-shadow: rgb(0, 0, 0) 1px 10px 10px;
    color: white;
    margin-left: 8px;;
    margin-top: 0px;
}

table {
    margin: 36px;
    width: 80%;
    color: black;
    background-color: white;
    border-radius: 25px;
    padding: 8px;;
    box-shadow: 5px 5px black;
}

.center {
    text-align: center;
}

.container {
    margin: 36px;
    width: 80%;
    color: black;
    background-color: white;
    border-radius: 25px;
    text-align: center;
    box-shadow: 5px 5px black;
}

.bottom-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    color: black;
    border-radius: 25px;
    margin: 36px;
    padding: 24px;
    width: 80%;
    box-shadow: 5px 5px black;
}

button {
    padding: 24px;
    margin: 8px;
    border-radius: 25px;
    border: none;
    background-color: rgb(59, 121, 121);
    font-size: 2rem;
    color: white;
}

input {
    width: 25%;
    padding:12px;
    margin: 8px;
    border-radius: 25px;
    font-size: 2rem;
}

#eps-watched, #eps-total {
    width: 10%;
}

form { 
    font-size: 1.5rem;
}